<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Restaurant</display-name>
 
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.java.ee.servlet.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>com.java.ee.servlet.MenuServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MenuSearchServlet</servlet-name>
		<servlet-class>com.java.ee.servlet.MenuSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.java.ee.servlet.OrderServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>OrderReceivedServlet</servlet-name>
		<servlet-class>com.java.ee.servlet.OrderReceivedServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ThankYouServlet</servlet-name>
		<servlet-class>com.java.ee.servlet.ThankYouServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MenuSearchServlet</servlet-name>
		<url-pattern>/searchResults.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/order.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderReceivedServlet</servlet-name>
		<url-pattern>/orderReceived.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThankYouServlet</servlet-name>
		<url-pattern>/thankYou.html</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
	<!-- Listing Roles that exist 
		 in the system.This is generally 
		 not required in tomcat but needed in 
		 other webservers. 
	-->
	 <security-role>
		<role-name>user</role-name>
	</security-role>
	
	<security-role>
		<role-name>admin</role-name>
	</security-role> 
	<!-- Listing Roles ends -->
	
	<!-- authorization 
		This security-constraint tag will map the 
		resources to a specific role in the system.
		example:
		/order.html and /thankYou.html 
		is mapped to user role,so any one login with 
		others roles cannot access above 2 resources.
	-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>orders page</web-resource-name>
			<url-pattern>/order.html</url-pattern>
			<url-pattern>/thankYou.html</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>staff pages</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- authorization ends -->
	
	<!-- Authentication Type -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Restaurent Application</realm-name>
	</login-config>
	<!-- Authentication Type ends here -->
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>